body {
  font-family: sans-serif;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  background-color: gray;
}

.navbar {
  background-color: gray;
  max-width: 100%;
  padding: 10px;
}

.heading {
  margin: 10px;
  color: white;
}

.result {
  max-width: 100%;
  padding: 10px;
}

.form_div{
  background-color: gray;
  color: white;
  max-width: 100%;
  padding: 10px;
  padding-bottom: 30px;
  margin: 10px;
}

.separator{
  border: 2px solid;
  border-color: white;
}

.calc_button{
  background-color: gray;
  color: white;
}

#bmi{
  background-color: gray;
  color: white;
  max-width: 100%;
  padding: 10px;
  font-size: larger;
}